extends base.pug

block content
  section
    h1= 'Topics'
    div(class='topic-list')
      each topic in topics
        a(class='topic-row' href='/topics/' + topic.id)
          div
            div(class='topic-icon')
              img(src='/icons/chat.svg')
            div(class='details')
              h2= topic.name
              p= topic.description
            div(class='posts')
              span= topic.posts
  aside
    div(class='block mb')
      h2= 'Recent Posts'
      div(class='post-list sm')
        each post in recentPosts
          div(class='post-row')
            div(class='post-user')
              a(href='/users/' + post.userId)
                img(src='/avatars/' + post.avatarId + '.svg' title=post.username)
            div(class='post-details')
              div(class='post-title')
                a(href='/posts/' + post.id)= post.title
              div(class='post-topic')
                span= 'In '
                a(href='/topics/' + post.topicId)= post.topicName
    div(class='block mb')
      h2= 'Top Contributors'
      div(class='user-list')
        each user in topContributors
          a(class='user-row' href='/users/' + user.id)
            div
              div(class='avatar')
                img(src='/avatars/' + user.avatarId + '.svg')
              div(class='username')= user.username
              div(class='posts')
                span= user.posts
