extends base.pug

block content
  section
    div(class='post')
      div(class='author-panel')
        div(class='author-avatar')
          img(src='/avatars/' + author.avatarId + '.svg')
        div(class='author-username')= author.username
      div(class='post-details')
        div(class='title')= post.title
        div(class='body')= post.body
    each comment in comments
      div(class='comment-divider')
      div(class='comment')
        a(href='/users/' + comment.userId)
          div(class='author-panel')
            div(class='author-avatar')
              img(src='/avatars/' + comment.avatarId + '.svg')
            div(class='author-username')= comment.username
        div(class='comment-body')= comment.body
    if signedIn
      div(class='comment-divider')
      div(class='block')
        h2= 'Leave a comment'
        div
          form(action='/comments/create' method='post')
            input(type='hidden' name='post' value=post.id)
            textarea(name='comment')
            button(type='submit')= 'Submit'
