extends base.pug

block content
  section
    div(class='block mb')
      h1= topic.name
      div
        p= topic.description
    div(class='post-list-header')
      h1= 'Posts'
      if signedIn
        div
          a(class='button' href='/topics/' + topic.id + '/post')= 'New Post'
    div(class='post-list lg')
      each post in posts
        a(href='/posts/' + post.id)
          div(class='post-row')
            div(class='post-avatar')
              img(src='/avatars/' + post.avatarId + '.svg')
            div(class='post-details')
              div(class='post-title')= post.title
              div(class='post-date')= new Date(post.created).toLocaleString()
              div(class='post-excerpt')= post.body.substring(0, 100) + (post.body.length > 100 ? '...' : '')
            div(class='post-icon')
              img(src='/icons/chat2.svg')
